body {
  color: rgba(100, 255, 255, 0.87)
}

img {
  width: 10px;
  height: 10px;
}

.square {
  display: inline-block;
  color: #eee;
  font-weight: 900;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  text-align: center;
  margin-bottom: 10px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}